#notion-forms-container {
    padding: 5px 20px;
}



.notion-forms-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #f9f9f9;
}

.notion-forms-list li {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}



.notion-forms-list.highlight {
    border-color: #007cba;
    background-color: #e7f4fc;
}

.notion-field-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0px 15px;
    margin-bottom: 5px;
    list-style: none;
    cursor: move;
    user-select: none;
}

.notion-field-item .field-hdr {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #2e65a8;
    padding: 11px 15px;
    color: white;
}

.notion-field-item small {
    font-size: 0.8em;
    color: #ffcc00;
}

.notion-field-item p {
    font-size: 1.2em;
}

.notion-field-item:hover {
    background-color: #f1f1f1;
}


.notion-field-item table {
    min-width: 500px;
    margin-bottom: 10px;
}

.notion-field-item table td {
    padding: 5px 10px;
}


.notion-field-item .label-input {
    width: 100%;
    padding: 5px 10px;
}


.notion-forms-list .ui-sortable-placeholder {
    border: 2px dashed #007cba;
    height: 40px;
    margin-bottom: 5px;
}




.sortable-placeholder {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    height: 40px;
    margin: 5px 0;
}


.notion-forms-header {
    background-color: #2e65a8; /* Dark blue background */
    color: white;
    width: 100%;
    position: sticky;
    top: 32px;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.notion-forms-header-inner {
    max-width: 100%; /* Ensure it spans the full content width */
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notion-forms-logo {
    height: 50px; /* Adjust to fit desired size */
    max-height: 100%; /* Prevent overflowing */
    width: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Spacing between logo and title */
}


.notion-forms-title {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: white;


}

.notion-forms-nav  {
    display: flex;
    justify-content: flex-start; /* Aligns the nav items to the left */
    flex-grow: 1; /* Allows the nav to expand and take available space */
    margin-left: 20px;

}


.notion-forms-nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff; /* White text for links */
    font-weight: 500;
}
.notion-forms-nav a:hover {
    text-decoration: underline;
}
.notion-forms-nav a.active {
    font-weight: bold;
    color: #ffcc00; /* Highlighted tab color */
}
.notion-forms-body {
    margin: 0;
    padding: 20px;
    background: #ffffff;
}


/* Remove extra margin between admin menu and plugin header */
#wpcontent {
    padding-left: 0 !important;
}
.notion-forms-header {
    margin-left: 0 !important;
}

